{% extends "room_manager/layout.html" %}

{% block content%}


<a class="btn btn-primary" href="{% url "room_manager.expenses.new" %}">New Expense</a>
<table class="table">
    <thead>
        <tr>
            <th>Description</th>
            <th>Category</th>
            <th>Entered By</th>
            <th>Submitted By</th>
            <th>Amount</th>
            <th>Date Submitted</th>
        </tr>
    </thead>
    <tbody>
    {% for obj in expenses %}
    <tr>
        <td><a href="{% url "room_manager.expenses.show" obj.id %}">{{obj.description}}</a></td>
        <td>{{ obj.category }}</td>
        <td>{{ obj.user }}</td>
        <td>{{ obj.submitted_by }}</td>
        <td>{{ obj.amount }}</td>
        <td>{{ obj.submitted }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
