{% extends "room_manager/layout.html" %}
{% block content %}
    <div class="row">
        <div class="col-md-2">
            <div class="panel panel-default">
                <div class="panel-heading">Name</div>
                <div class="panel-body">   {{ object.name }}</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <a class="btn btn-primary" href="{% url "room_manager.expense_categories.edit" object.id %}">Edit</a>
            <a class="btn btn-danger" href="{% url "room_manager.expense_categories.delete" object.id %}">Delete</a>
        </div>
    </div>
{% endblock %}
