{% extends "room_manager/layout.html" %}
{% block content %}
    <div class="row">
        <div class="col-md-2">
            <div class="panel panel-default">
                <div class="panel-heading">Submitted</div>
                <div class="panel-body">   {{ object.submitted }}</div>
            </div>
        </div>

        <div class="col-md-2">
            <div class="panel panel-default">
                <div class="panel-heading">Submitted By</div>
                <div class="panel-body">   {{ object.submitted_by }}</div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="panel panel-default">
                <div class="panel-heading">Entered By</div>
                <div class="panel-body">   {{ object.user }}</div>
            </div>
        </div>

        <div class="col-md-2">
            <div class="panel panel-default">
                <div class="panel-heading">Description</div>
                <div class="panel-body">   {{ object.description }}</div>
            </div>
        </div>

        <div class="col-md-2">
            <div class="panel panel-default">
                <div class="panel-heading">Amount</div>
                <div class="panel-body">   {{ object.amount }}</div>
            </div>
        </div>

        <div class="col-md-2">
            <div class="panel panel-default">
                <div class="panel-heading">Category</div>
                <div class="panel-body">   {{ object.category }}</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <a class="btn btn-primary" href="{% url "room_manager.expenses.edit" object.id %}">Edit</a>
            <a class="btn btn-danger" href="{% url "room_manager.expenses.delete" object.id %}">Delete</a>
        </div>
    </div>
{% endblock %}
