{% extends "room_manager/layout.html" %}

{% block content %}
<a href="{% url "room_manager.expense_categories.new" %}"class="btn btn-primary" >New Expense Category</a>
<div class="panel panel-default">
    <div class="panel-heading">List of Expense Categories</div>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
        {% for b in expense_categories %}
        <tr>
            <td>
                <a href="{{ b.get_absolute_url }}">{{b.name}}</a>
            </td>
        </tr>
        {% endfor %}

        </tbody>
    </table>
</div>
{% endblock %}
