<!DOCTYPE html>
<html>
<head>
    <title>inHabit</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ STATIC_URL }}css/cosmo.min.css" rel="stylesheet" media="screen">
    <link href="{{ STATIC_URL }}css/app.css" rel="stylesheet" media="screen">
    <link href="{{ STATIC_URL }}css/datepicker.css" rel="stylesheet" media="screen">
    <link href="{{ STATIC_URL }}select2/css/select2.css" rel="stylesheet" media="screen">
    <link href="{{ STATIC_URL }}select2/css/djselect2.css" rel="stylesheet" media="screen">
</head>
<body>
<div id="wrap">
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">inHabit</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown {{ room_management_active }}">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Room Management<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            {% if perms.room_manager.add_block %}
                                <li class="{{ blocks_active }}"><a href="{% url "room_manager.blocks" %}">Blocks</a>
                                </li>
                                <li class="divider"></li>
                            {% endif %}

                            {% if perms.room_manager.add_room %}
                                <li class="{{ rooms_active }}"><a href="{% url "room_manager.rooms" %}">Rooms</a></li>
                                <li class="divider"></li>
                            {% endif %}
                            {% if perms.room_manager.add_roomtype %}
                                <li class="{{ room_types_active }}"><a href="{% url "room_manager.room_types" %}">Room
                                    Types</a></li>
                                <li class="divider"></li>
                            {% endif %}
                            {% if perms.room_manager.add_schedule %}
                                <li class="{{ schedules_active }}"><a
                                        href="{% url "room_manager.schedules" %}">Schedules</a></li>
                                <li class="divider"></li>
                            {% endif %}
                            {% if perms.room_manager.add_occupanttype %}
                                <li class="{{ occupant_types_active }}"><a
                                        href="{% url "room_manager.occupant_types" %}">Occupant
                                    Types</a></li>
                                <li class="divider"></li>
                            {% endif %}
                            {% if perms.room_manager.add_occupant %}
                                <li class="{{ occupants_active }}"><a
                                        href="{% url "room_manager.occupants" %}">Occupants</a></li>
                            {% endif %}


                        </ul>
                    </li>
                    {% if perms.room_manager.add_expense %}

                        <li class="{{ expenses_group_active }}"><a href="#" class="dropdown-toggle"
                                                                   data-toggle="dropdown">Expenses
                            <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                {% if perms.room_manager.add_expensecategory %}

                                    <li class="{{ expense_category_active }}"><a
                                            href="{% url "room_manager.expense_categories" %}">Expense Categories</a>
                                    </li>
                                {% endif %}

                                <li class="{{ expenses_active }}"><a href="{% url "room_manager.expenses.new" %}">Enter
                                    New
                                    Expense</a></li>

                            </ul>
                        </li>
                    {% endif %}
                    {% if perms.room_manager.add_rentpayment %}
                        <li class="{{ rent_group_active }}"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Rent
                            <b class="caret"></b></a>
                            <ul class="dropdown-menu">

                                <li class="{{ expense_category_active }}"><a
                                        href="{% url "room_manager.rent_payments.new" %}">New Payment</a></li>


                            </ul>
                        </li>
                    {% endif %}
                    <li>

                    <li class="{{ expense_report_group_active }}"><a href="#" class="dropdown-toggle"
                                                                     data-toggle="dropdown">Reports
                        <b class="caret"></b></a>
                        <ul class="dropdown-menu">

                            <li class="{{ expense_report_active }}"><a
                                    href="{% url "model_report_view" "expenses" %}">Expense Report</a></li>

                            <li class="{{ rent_report_active }}"><a
                                    href="{% url "model_report_view" "rent_payments" %}">Rent Payment Report</a></li>

                            <li class="{{ room_report_active }}"><a
                                    href="{% url "room_availability_report"  %}">Room Availability Report</a></li>

                        </ul>
                    </li>

                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if user.is_authenticated %}
                        <li><a href="{% url "logout" %}">Log out</a></li>
                    {% else %}
                        <li><a href="{% url "login" %}">Log in</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>

    <!-- Begin page content -->
    <div class="container">
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        {% block content %}
        {% endblock %}
    </div>
</div>
<div id="footer">
    <div class="container">
        <p class="text-muted credit"><a href="http://jaroninv.com">JaronINV</a></p>
    </div>
</div>
<script src="{{ STATIC_URL }}js/jquery.js"></script>
<script src="{{ STATIC_URL }}js/application.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap-datepicker.js"></script>
<script src="{{ STATIC_URL }}select2/js/select2.jquery_ready.js"></script>
<script src="{{ STATIC_URL }}select2/js/select2.js"></script>
</body>
</html>
