{% extends "room_manager/layout.html" %}

{% block content%}


<a class="btn btn-primary" href="{% url "room_manager.occupant_types.new" %}">New Occupant Type</a>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Schedule</th>
        </tr>
    </thead>
    <tbody>
    {% for obj in occupant_types %}
    <tr>
        <td><a href="{% url "room_manager.occupant_types.show" obj.id %}">{{obj.name}}</a></td>
        <td>{{ obj.schedule }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
