{% extends "room_manager/layout.html" %}

{% block content %}
<form action="" method="post">
    {% csrf_token %}
    <p>Are you sure you want to delete occupant {{object.full_name }} ?</p>
    <button type="submit" class="btn btn-default">Confirm</button>
</form>
{% endblock %}
