{% extends "room_manager/layout.html" %}

{% block content %}

    <div class="row">
        <div class="col-md-2">
            <div class="panel panel-default">
                <div class="panel-heading">Name</div>
                <div class="panel-body">   {{ object.name }}</div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">Schedule</div>
                <div class="panel-body">   {{ object.schedule }}</div>
            </div>


        </div>
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">Occupants
                </div>
                <table class="table">
                    <thead>
                    <tr>
                        <th>Number</th>
                        <th>Type</th>
                    </tr>
                    </thead>
                    <tbody>
{#                    {% for obj in object.occupants.all %}#}
{#                        <tr>#}
{#                            <th><a href="{{ obj.get_absolute_url }}">{{ obj.full_name }}</a></th>#}
{#                            <th>{{ obj.room }}</th>#}
{#                        </tr>#}
{#                    {% endfor %}#}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <a class="btn btn-primary" href="{% url "room_manager.occupant_types.edit" object.id %}">Edit</a>
            <a class="btn btn-danger" href="{% url "room_manager.occupant_types.delete" object.id %}">Delete</a>
        </div>
    </div>
{% endblock %}
