{% extends "room_manager/layout.html" %}

{% block content %}


    <a class="btn btn-primary" href="{% url "room_manager.occupants.new" %}">New Occupant</a>
    <table class="table table-bordered table-responsive">
        <thead>
        <tr>
            <th>Name</th>
            <th>Room</th>
            <th>Occupant Type</th>
            <th>Occupation</th>
            <th>Phone Number</th>
            <th>Id Number</th>
            <th>Id Issuing Authority</th>
        </tr>
        </thead>
        <tbody>
        {% for obj in occupants %}
            <tr>
                <td><a href="{% url "room_manager.occupants.show" obj.id %}">{{ obj.full_name }}</a></td>
                <td>{{ obj.room }}</td>
                <td>{{ obj.occupant_type }}</td>
                <td>{{ obj.occupation }}</td>
                <td>{{ obj.phone_number }}</td>
                <td>{{ obj.id_number }}</td>
                <td>{{ obj.id_issuing_authority }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if is_paginated %}
        {% load i18n %}
        <div>
            <ul class="pagination">
                {% if page_obj.has_previous %}
                    <li><a href="?page={{ page_obj.previous_page_number }}{{ getvars }}{{ hashtag }}"
                           class="prev">&lsaquo;&lsaquo; {% trans "previous" %}</a></li>
                {% else %}
                    <li class="disabled prev"><a href="#">&lsaquo;&lsaquo; {% trans "previous" %}</a></li>
                {% endif %}
                {% for page in pages %}
                    {% if page %}
                        {% ifequal page page_obj.number %}
                            <li class="current page active"><a href="#">{{ page }}</a></li>
                        {% else %}
                            <li><a href="?page={{ page }}{{ getvars }}{{ hashtag }}" class="page">{{ page }}</a></li>
                        {% endifequal %}
                    {% else %}
                        ...
                    {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                    <li><a href="?page={{ page_obj.next_page_number }}{{ getvars }}{{ hashtag }}"
                           class="next">{% trans "next" %} &rsaquo;&rsaquo;</a></li>
                {% else %}
                    <li class="disabled next"><a href="#">{% trans "next" %} &rsaquo;&rsaquo;</a></li>
                {% endif %}
            </ul>
        </div>
    {% endif %}
{% endblock %}
