{% extends "room_manager/layout.html" %}

{% block content %}

    <div class="row">
        <div class="col-md-2">
            <div class="panel panel-default">
                <div class="panel-heading">Name</div>
                <div class="panel-body">   {{ object.full_name }}</div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">Room</div>
                <div class="panel-body">   {{ object.room }}</div>
            </div>
        </div>

        <div class="col-md-2">
            <div class="panel panel-default">
                <div class="panel-heading">Occupation</div>
                <div class="panel-body">   {{ object.occupation }}</div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">Id Number</div>
                <div class="panel-body">   {{ object.id_number }}</div>
            </div>


        </div>

        <div class="col-md-2">
            <div class="panel panel-default">
                <div class="panel-heading">Id Issuing Authority</div>
                <div class="panel-body">   {{ object.id_issuing_authority }}</div>
            </div>


        </div>

    </div>
    <div class="row">
        <div class="col-md-4">
            <a class="btn btn-primary" href="{% url "room_manager.occupants.edit" object.id %}">Edit</a>
            <a class="btn btn-danger" href="{% url "room_manager.occupants.delete" object.id %}">Delete</a>
        </div>
    </div>
{% endblock %}
