{% extends "room_manager/layout.html" %}

{% block content%}


<a class="btn btn-primary" href="{% url "room_manager.rent_payments.new" %}">New Payments</a>
<table class="table">
    <thead>
        <tr>
            <th>Occupant</th>
            <th>Room</th>
            <th>Entered By</th>
            <th>Amount</th>
            <th>Method of Payment</th>
            <th>Date Submitted</th>

        </tr>
    </thead>
    <tbody>
    {% for obj in rent_payments %}
    <tr>
        <td><a href="{% url "room_manager.rent_payments.show" obj.id %}">{{obj.occupant}}</a></td>
        <td>{{ obj.room }}</td>
        <td>{{ obj.user }}</td>
        <td>{{ obj.submitted_by }}</td>
        <td>{{ obj.method_of_payment }}</td>
        <td>{{ obj.submitted }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
