{% extends "room_manager/layout.html" %}
{% block content %}
    <div class="row">
        <div class="col-md-2">
            <div class="panel panel-default">
                <div class="panel-heading">Occupant</div>
                <div class="panel-body">   {{ object.occupant }}</div>
            </div>
        </div>

        <div class="col-md-2">
            <div class="panel panel-default">
                <div class="panel-heading">Room</div>
                <div class="panel-body">   {{ object.room }}</div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="panel panel-default">
                <div class="panel-heading">Entered By</div>
                <div class="panel-body">   {{ object.user }}</div>
            </div>
        </div>

        <div class="col-md-2">
            <div class="panel panel-default">
                <div class="panel-heading">Amount Paid</div>
                <div class="panel-body">   {{ object.amount_paid }}</div>
            </div>
        </div>

        <div class="col-md-2">
            <div class="panel panel-default">
                <div class="panel-heading">Method of Payment</div>
                <div class="panel-body">   {{ object.method_of_payment }}</div>
            </div>
        </div>
         <div class="col-md-2">
            <div class="panel panel-default">
                <div class="panel-heading">Payment Detail</div>
                <div class="panel-body">   {{ object.payment_detail }}</div>
            </div>
        </div>

        <div class="col-md-2">
            <div class="panel panel-default">
                <div class="panel-heading">Status</div>
                <div class="panel-body">   {{ object.status }}</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <a class="btn btn-primary" href="{% url "room_manager.rent_payments.edit" object.id %}">Edit</a>
            <a class="btn btn-danger" href="{% url "room_manager.rent_payments.delete" object.id %}">Delete</a>
        </div>
    </div>
{% endblock %}
