{% extends "room_manager/layout.html" %}

{% block content%}


<a class="btn btn-primary" href="{% url "room_manager.room_types.new" %}">New Room Type</a>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Number of Occupants</th>
            <th>Rate</th>
        </tr>
    </thead>
    <tbody>
    {% for room_type in room_types %}
    <tr>
        <td><a href="{% url "room_manager.room_types.show" room_type.id %}">{{room_type.name}}</a></td>
        <td>{{ room_type.number_of_occupants }}</td>
        <td>{{ room_type.rate }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
