{% extends "room_manager/layout.html" %}

{% block content %}
    <h3>Room Availability</h3>

    <div class="row">
        <div class="col-md-3">
            <form action="" method="get">
                <legend>
                    <label for="status">Filter</label>
                    <select class="form-control" name="status" id="id_status">
                        <option value="1">Available Rooms</option>
                        <option value="0">Occupied Rooms</option>
                        <option value="5">All</option>
                    </select>
                    <input type="submit" value="filter" class="btn btn-info"/>

                </legend>
            </form>
        </div>
    </div>
    <table class="table table-bordered table-responsive">
        <thead>
        <tr>
            <th>Number</th>
            <th>Type</th>
            <th>Block</th>
            <th>Available</th>
        </tr>
        </thead>
        <tbody>    {% for room in rooms %}
            <tr>
                <td><a href="{% url "room_manager.rooms.show" room.id %}">{{ room.room_number }}</a></td>
                <td>
                    {{ room.room_type }}
                </td>
                <td>
                    {{ room.block }}
                </td>
                <td>
                    {% if room.available %}

                        <span class="glyphicon glyphicon-ok"></span>
                    {% else %}

                        <span class="glyphicon glyphicon-remove"></span>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
