{% extends "room_manager/layout.html" %}
{% block content %}
    <form action="" class="form" method="post">
        {% csrf_token %}
        {% load widget_tweaks %}
        {% for field in form %}
            <div class="form-group">
                {{ field.label_tag }}
                {% ifequal field.field.widget.attrs.class "django-select2" %}
                    {{ field }}
                {% else %}
                    {{ field|add_class:"form-control" }}
                {% endifequal %}

                {% for error in field.errors %}
                    <div class="has-error">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
{% endblock %}

