
{% extends "room_manager/layout.html" %}

{% block content %}

<div class="row">
    <div class="col-md-2">
        <div class="panel panel-default">
            <div class="panel-heading">Name</div>
            <div class="panel-body">   {{ object.name }}</div>
        </div>
         <div class="panel panel-default">
            <div class="panel-heading">Number of Occupants</div>
            <div class="panel-body">   {{ object.number_of_occupants }}</div>
        </div>
       <div class="panel panel-default">
            <div class="panel-heading">Rate</div>
            <div class="panel-body">   {{ object.rate }}</div>
        </div>


    </div>
    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading">Rooms
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>Number</th>
                        <th>Type</th>
                    </tr>
                </thead>
                <tbody>
                {% for room in object.rooms.all %}
                <tr>
                    <th><a href="{{ room.get_absolute_url }}">{{ room.room_number }}</a></th>
                    <th>{{room.room_type }}</th>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <a class="btn btn-primary" href="{% url "room_manager.room_types.edit" object.id %}">Edit</a>
        <a class="btn btn-danger" href="{% url "room_manager.room_types.delete" object.id %}">Delete</a>
    </div>
</div>
{% endblock %}
