{% extends "room_manager/layout.html" %}

{% block content %}

<div class="row">
    <div class="col-md-2">
        <div class="panel panel-default">
            <div class="panel-heading">Number</div>
            <div class="panel-body">   {{ object.room_number }}</div>
        </div>
         <div class="panel panel-default">
            <div class="panel-heading">Room Type</div>
            <div class="panel-body">   {{ object.room_type }}</div>
        </div>
       <div class="panel panel-default">
            <div class="panel-heading">Block</div>
            <div class="panel-body">   {{ object.block }}</div>
        </div>


    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <a class="btn btn-primary" href="{% url "room_manager.rooms.edit" object.id %}">Edit</a>
        <a class="btn btn-danger" href="{% url "room_manager.rooms.delete" object.id %}">Delete</a>
    </div>
</div>
{% endblock %}
