{% extends "room_manager/layout.html" %}

{% block content %}
<a class="btn btn-primary" href="{% url "room_manager.rooms.new" %}">New Room</a>
<table class="table">
    <thead>
        <tr>
            <th>Number</th>
            <th>Type</th>
        </tr>
    </thead>
    <tbody>    {% for room in rooms %}
    <tr>
        <td><a href="{% url "room_manager.rooms.show" room.id %}">{{room.room_number }}</a></td>
        <td>
            {{ room.room_type }}
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
