{% extends "room_manager/layout.html" %}

{% block content %}
<a href="{% url "room_manager.schedules.new" %}"class="btn btn-primary" >New Schedule</a>
<div class="panel panel-default">
    <div class="panel-heading">List of Schedules</div>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
        {% for b in schedules %}
        <tr>
            <td>
                <a href="{{ b.get_absolute_url }}">{{b}}</a>
            </td>
        </tr>
        {% endfor %}

        </tbody>
    </table>
</div>    
{% endblock %}
