{% extends "room_manager/layout.html" %}

{% block content %}

<div class="row">
    <div class="col-md-2">
        <div class="panel panel-default">
            <div class="panel-heading">Unit of time</div>
            <div class="panel-body">   {{ object.unit_of_time }}</div>
        </div>
    </div>

 <div class="col-md-2">
        <div class="panel panel-default">
            <div class="panel-heading">Frequency</div>
            <div class="panel-body">   {{ object.frequency }}</div>
        </div>
    </div>

<div class="col-md-2">
        <div class="panel panel-default">
            <div class="panel-heading">Start Date</div>
            <div class="panel-body">   {{ object.start_date }}</div>
        </div>
    </div>

</div>
<div class="row">
    <div class="col-md-4">
        <a class="btn btn-primary" href="{% url "room_manager.schedules.edit" object.id %}">Edit</a>
        <a class="btn btn-danger" href="{% url "room_manager.schedules.delete" object.id %}">Delete</a>
    </div>
</div>
{% endblock %}

