{% extends "admin/base_site.html" %}
{% load i18n %}

{% block extrastyle %}
    {{ block.super }}
    <style type="text/css">
        @media (max-width: 320px) {
            #logged-out .btn{
                margin-bottom: 10px;
                width: 100%;
            }
            h1{
                font-size: 17px;
                line-height: 20px;
            }
        }
    </style>
{% endblock %}

{% block content_title %}{% endblock %}
{% block breadcrumbs %}{% endblock %}
{% block content %}
<div class="fade in" id="logged-out">
    <h1 class="alert-heading">{% trans 'Logged out' %}</h1>
    <p>
        <a href="{% url 'login' %}" class="btn btn-large">
            {% trans 'Log in' %}
        </a>

    </p>
</div>
{% endblock %}

{% block js_footer_commons %}{% endblock %}