{% load i18n %}
{% if form_config %}
    {% with form_config as form %}
        <fieldset class="col-md-4">
            <legend>{% trans "Config chart by" %}</legend>
            {% include "model_report/includes/form_fields.html" %}
        </fieldset>
    {% endwith %}
{% endif %}
