{% load widget_tweaks %}
{% for field in form %}
    <div class="form-group  row{% if field.field.required %} row-required{% endif %}{% if field.errors or form.non_field_errors %} row-errors{% endif %}">
        <label for="{{ field.auto_id }}">{{ field.label }}</label>
        {% ifequal field.field.widget.attrs.class "django-select2" %}
                    {{ field }}
                {% else %}
                    {{ field|add_class:"form-control" }}
                {% endifequal %}
     <span class="info{% if field.errors %} error{% else %}{% endif %}">
       {{ field.errors|join:" " }}</span>
        <span class="help-text">{{ field.help_text }}</span>
    </div>
{% endfor %}